*{
    padding: 0px;
    margin: 0px;   
   }

.itm{
    text-align: center;
}

.ibox-double{
    
    background-color:rgb(82, 184, 128);
    position: absolute;
    margin-top: 5%;
    margin-left: 27% ;
    
    width: 45%;
    height: 80vh;
    
}
.form-control{
    text-align: center;
    width: -45px;
    
}