.navbar{
    
    background-color: rgba(177, 170, 170, 0.356);
}
.brand-name{
    background-color: rgb(5, 199, 21);
    border-radius: 12px;
    padding: 6px;
    box-shadow: 3px 3px;
    height: 175;
    font-family: Times New Roman;
    font-weight: bold;
    

 }
 .link-name{
     border: rgba(46, 32, 1, 0.034);
     font-style: montserrat;
     font-display: fallback;
     
     
 }
 .link-game{
    border: rgba(46, 32, 1, 0.034);
    font-style: montserrat;
    font-display: fallback;

 }
 .dropdown-item{
     font-style:montserrat;
     

 }
 .btn-danger{
     margin-left: 800px;
 }
 .brand-name:hover, .link-name:hover ,.link-game:hover{
    background-color: rgb(58, 185, 26);
  }
  .dropdown-item:hover{
      background-color:burlywood;
  }

  