* {
    box-sizing: border-box;
  }
  
  .nack{
      text-align: center;
      font-size: 1cm;

  }
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 5mm;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container1 {
    border-radius: 2px;
    background-color: oldlace;
    padding: 10px;
    position: relative;
    
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 49%;
    margin-top: 6px;
    padding: 10px;
    font-size: 5mm;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }