.slide-show-13{
    height: 110vh;
    width: auto;
}


.w-11{
    width: 100%;
    height: 400px;
}

.advertisment-12{
    display: flex;
    height: 60vh;
    
   
}

.card-10{
    margin: 30px;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    
    
}
.card-img-top{
    height: 30vh;
    width:40vh;
}
