*{
 padding: 0px;
 margin: 0px;   
}

.background{
    background-color: rgb(7, 7, 83);
    height: 100vh;
}

.box-double{
    position: absolute;
    margin-top: 5%;
    margin-left: 9% ;
    background-color: white;
    width: 80%;
    height: 80vh;
    display:flex;
}

.box-1{
    padding-top: 10px;
    width: 50%;
    height: 100%;
    background-color: rgb(255,255,255);
    overflow: hidden;
}

.box-2{
    width: 50%;
    height: 100%;
    background-color: rgb(100, 119, 182);
}

.location{
    display: flex;
}

.name{
    display: flex;
}

