.wrapper1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f5b338;
  }
  .button-129 {
    background-color:white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width:48%;
    font-size: 16px;
    margin: 4px 2px;
    float:left;
    font-weight: bold;
    font-size: 6mm;
    display:flex
    
  }
  .button223{
    background-color: rgb(247, 247, 247);
}

  
  .form-wrapper1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    font-weight:bolder;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  
  label {
    font-size: 1em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight:bolder;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid ;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: rgb(7, 3, 3);
  }
  
  .email1,
.password1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
  
  .email1,
  .password1 {
    width: 100%;
  }
  
  .createAccount1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount1 button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .blp{
    padding-top: 30px;
    text-align: center;
}
.bnm{
  color:black;
    font-size: 1cm;
    font-weight: bold;
}
.man{
    font-size:7mm;
    font-weight:bold;
}
.terms{
  padding-top: 30px;
}