*{
 padding: 0px;
 margin: 0px;   
}

.background{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHjyTvAEADMMqA1g7P9tQPXfWw6giQDEaLr979pviI3REU3mdXbfCOBAQMSj7SvEQkDw4&usqp=CAU");
    height: 100vh;
    width:100%;
    background-size:cover;
    background-position:centre;
    
}

.box-double{
    position: absolute;
    margin-top: 5%;
    margin-left: 9% ;
    background-color:white;
    width: 80%;
    height: 80vh;
    display:flex;
}

.box-1{
    padding-top: 10px;
    width: 50%;
    height: 100%;
    background-color: grey;
    overflow: hidden;
}

.box-2{
    width: 50%;
    height: 100%;
    margin-left: 1em;
    
    background-image:url("https://png.pngtree.com/png-clipart/20200701/original/pngtree-farmer-farming-png-image_5397808.jpg");
    background-position:20% 60%;
    background-size:98%;
    
}

.location{
    display: flex;
}

.name{
    display: flex;
}

