body,html {
    
    box-sizing: border-box;
    
    
    margin-top: 0pt;
    height: 100%;
  }
 
  
.back{
    
    
        width: 100%;
        background-color:  #f1f1f1;;
        position: absolute;
        overflow: hidden;
       

        background-image: url("https://i.pinimg.com/564x/88/1e/f1/881ef164906b662421fcc29249a9e0fc.jpg");
        
       border-image-width: initial;
         background-repeat:no-repeat ;
        height: 100%;
        position: absolute;
        background-size: cover;
        
       
}
.advertisment-12{
    display: flex;
    height: 60vh;
    
   
}

.card-99{
    margin: 30px;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    
    
}
.card-img-top{
    height: 100%;
    width:100%;
}

.box-99{
    position: absolute;
    top:20vh;
    background-color: brown;
    width:40%;
    height:auto;
    font-family:'Bahnschrift Condensed';
    left:80vh;
    height:50vh;
  
    
}





@keyframes anim{
    from{
        bottom: -100%;
    }
    to{
        bottom: 0%;
    }
}
@keyframes anim2{
    from{
        left:30%;
        width:530px;
    }
    to{
        width:0px;
        left:50%;
    }
}
.boxx2{
    width:49%;
    height:auto;
    
  
    position:absolute;
    top:250px;
    left:100px;
    overflow:hidden;
   

}
.text{
    font-size: 2cm;
    font-style: abel;
    font-style:abel ;
    color:rgb(0, 0, 0);
    font-size:10em;
    font-weight: 400;
    line-height:140px;
    position: relative;
    left:-100%;
    animation: anim3 1s forwards 1.5s;
    
}
.text78{
    font-size: 1cm;
    position: relative;
    left:-100%;
    animation: anim3 1s forwards 1.5s;
    
}
@keyframes anim3{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}
.boxx3{
    
    background-color: transparent;
    font-family:'Bahnschrift Condensed';
    font-size:15px;
    text-align: center;
}
    
