body, html {
    
    margin-top: 0pt;
    height: 100%;
  }
.back{
    
    
        width: 100%;
        
        position: absolute;
        overflow: hidden;
        background-image: url("C:\Users\soumy\Desktop\my-app-2\version-connect-react\src\hjjjj.png");
       border-image-width: initial;
         background-repeat:no-repeat ;
        height: 100%;
        position: absolute;
        background-size:100vh;
        background-position :right 10% bottom 45%;
        background-size: 512px 512px;
}
.advertisment-12{
    display: flex;
    height: 60vh;
    
   
}

.card-99{
    margin: 30px;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    
    
}
.card-img-top{
    height: 100%;
    width:100%;
}

.box-99{
    position: absolute;
    top:20vh;
    background-color: brown;
    width:50%;
    height:auto;
    font-family:'Bahnschrift Condensed';
    left:80vh;
    height:50vh;
  
    
}





@keyframes anim{
    from{
        bottom: -100%;
    }
    to{
        bottom: 0%;
    }
}
@keyframes anim2{
    from{
        left:30%;
        width:530px;
    }
    to{
        width:0px;
        left:50%;
    }
}
.boxx2{
    width:auto;
    height:auto;
    
    color:rgb(0, 0, 0);
    font-size:10em;
    font-weight: 500;
    line-height:130px;
    position:absolute;
    top:250px;
    left:100px;
    overflow:hidden;
    font-style: monsterrat;

}
.text{
    position: relative;
    left:-100%;
    animation: anim3 1s forwards 1.5s;
    
}
@keyframes anim3{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}
.boxx3{
    
    background-color: transparent;
    font-family:'Bahnschrift Condensed';
    font-size:15px;
    text-align: center;
}
    
